/*Shanice Talan*/
/*Travel Agency Style Sheet*/

/*applied to all pages*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  }

/*fix the issue of the scrollbar preventing images to be displayed inline
and hide horizontal overflow*/
body {
  width: 100vw;
  overflow-x: hidden;
  background: url('images/beach.jpg');
  background-attachment: fixed;
  background-position: top right;
  background-size: cover;
}

.contain {
  text-align: center;
  height: auto;
  margin-top: 85px;
  padding-top: 1px;
  margin-bottom:0;
  }
  
/*general Links*/
a, a:visited {
 cursor:pointer;
 text-decoration: none;
 color: #FE9251;}

a:hover{
 cursor:pointer;
 text-decoration: underline;
 color: #FE9251;}

 /*header for logo, title and navigation bar*/
 header {
   height: 85px;
   width: 100%;
   position: fixed;
   top: 0;
   background: white;}


/*website logo*/
 header img {
   float: left;
   margin: 5px;
   height: 75px;
   width: auto}

/*page background*/
 .contain {
   text-align: center;
   height: 90vh;
   margin-top: 85px;
   padding-top: 1px;
   padding-bottom: 150px;
   margin-bottom:0;
   }

 /*navigation*/
 #loginbar {
 font-size: 18px; !important;}

 #loginbar a{
   float: right;
   display: inline;
   padding: 5px;
   margin: 5px;
   margin-right: 15px;
   font-size: 18px; !important;
 }

 .nav {
   position: absolute;
   top: 0;
   right: -5px;
   margin-top: 40px;
   text-decoration-color: #FE9251;}

/*navigation links*/
.nav li {
   display: inline;
   list-style: none;
   font-size: 24px;
   margin: 10px;
   padding: 10px;}

.nav a {
	font-size: 24px; !important;
}

/*hide navigation and login bar for smaller screens*/
@media (max-width: 1080px) {
  .nav {
    display: none;}
  #loginbar {
    display: none;}
}

/*show navigation menu button for smaller screens*/
#navbtn {
  height: 85px;
  width: 112px;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: -85px;
  right: 0;
  cursor: pointer;
  font-size: 20px; !important;
  background-color: #FE9251;
  color: white;
  border: 0}

/*change color of button on hover*/
#navbtn:hover {
  width:}

/*change text color of menu on hover*/
#navbtn a:hover {
  color: #FE9251;
  text-decoration: none;}

/*container for navigation menu*/
#navdrop {
  position: absolute;
  top: 85px;
  right: 0;}

/*hide navigation menu list by default*/
.nav2 {
  display: none;
  margin: 0;
  width: 112px;
  position: absolute;
  right: 0;}

/*styling for each menu selection*/
.nav2 li {
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  width: auto;
  color: #FE9251;
  background-color: white;
  text-decoration: none;
  text-align: center;}

.nav2 a{
  color: #FE9251;
}

/*change color of menu background on hover*/
.nav2 li:hover {
  background: #FE9251;
  color: white;}

/*change color of menu link on hover*/
.nav2 li a:hover {
  color: white;}

/*show menu list when hovering menu button*/
#navdrop:hover .nav2 {
  display: block;
  position: relative;
  margin: 0;
  color: #FE9251;}

/*hide button for bigger screens*/
@media (min-width: 1081px) {
  #navbtn {
    display: none;
  }
}

/*All Buttons*/
button {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: #d17238;
  border: solid 2px #FE9251;
  font-size: 18px; !important;
}

button:hover {
  color: white;
  background-color: #FE9251;
  border-style: 2px none;
}

/*Homepage*/
#home {
  height: 30vh;
  width: 25vw;
  text-align: center;
  margin: 5vw;
  padding: 3vw;
  position: absolute;
  top: 25vh;
  left: 3vw;
  background: rgba(250, 250, 250, 0.8);
}

#home h1{
  font-size: 30px; !important;
  font-weight: lighter;
  color:#398579;
}

/*bigger font size for bigger screens*/
@media (min-width: 681px) {
  #home{
    font-size: 35px; }
}

#book {
  cursor: pointer;
  padding: 10px;
  margin: 50px;
  background-color: #398579;
  color: white;
  font-size: 20px; !important;
  font-weight: bold;
}

/*Packages page*/
#packages {
  height: 95vh;
  margin: 25px;
  font-size: 20px;
  color: #398579;}

#packages h1 {
  font-size: 30px; !important;
  margin-bottom: 50px;
}

.eachpackage {
  list-style: none;
  text-align: left;
  width: 18vw;
  height: 73vh;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  -moz-box-shadow:    3px 3px 5px 1px #818181;
  -webkit-box-shadow: 3px 3px 5px 1px #818181;
  box-shadow:         3px 3px 5px 1px #818181;
  background: white;
}

.eachpackage img {
	width: 18vw;
	height: 18vw;
}

.eachpackage h6 {
  margin: 5px 0;
}

.eachpackage td {
  padding: 5px;
}

/*Login*/
#login {
  background: rgba(250, 250, 250, 0.8);
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 400px;
  padding: 30px;
  font-size: 24px;
  color: #398579;
}

#login form {
  margin: 25px;
  margin-bottom: 0;
}

#login p {
  margin-bottom: 10px;
  font-size: 28px;
}

#login td, #agentlogin input {
  padding: 5px;
  font-size: 20px;
}

.contain-reg {
  text-align: center;
  height: 900px;
  margin-top: 85px;
  padding-top: 1px;
  padding-bottom: 50px;
  }
  
#regbtn{
  margin-left: 30px; 
  margin-bottom: 25px;
}

#reg {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

/*All Forms*/
#formbg { /*form inside translucent box*/
  background: rgba(250, 250, 250, 0.9);
  height: auto;
  max-width: 320px;
  text-align: left;
  padding: 5vh 5vw;
  margin: 50px 100px 100px 100px;
  font-size: 18px;
  color: #398579;
  display: inline-block;
  }

/*bigger width, padding and font size for bigger screens*/
@media (min-width: 641px){
    #formbg {
      min-width: 400px;
      height: auto;
      padding: 20px;
      font-size: 24px;}
}

#formbg table {
	margin-bottom: 25px;
}

/*actual form below title*/
form {
  margin-top: 0px;
  text-align: left;
  font-size: 18px;
  color: #398579;}

form td {
  padding: 10px;
}


/*smaller padding and font size for smaller screen size*/
@media (max-width: 640px) {
    form td {
      padding: 5px;
      font-size: 16px;
    }
}

#entry {
  background: rgba(250, 250, 250, 0.8);
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 650px;
  padding: 30px;
  font-size: 20px;
  color: #398579;
}

#entry h1{
	font-size: 24px;
	margin-bottom: 50px;	
}

#entry button{
	margin: 0 25px 50px 0;
}

#error{
  color: red;
  font-size: 16px;
}

/*Agent Tables*/
#agttables {
	background: rgba(250, 250, 250, 0.9);
	padding: 25px;
	margin: 25px;
	font-size: 18px; !important;
	color: #398579;
}

#agttables table {
	margin-top: 50px;
	font-size: 18px;
    border-collapse: collapse;
    width: 100%;
}

#agenttables th{
	font-size: 18px;
}

#agttables tr {
	font-size: 18px;
    border-bottom: 1px solid #398579;
}

#agttables td {
	font-size: 18px;
	padding: 5px;
}

#message{
	background: rgba(250, 250, 250, 0.9);
	width: auto;
	padding: 50px;
	margin: 100px;
	color: #398579;
}

footer{
	background: #398579;
	color: white;
	padding: 25px;
}

footer h1{
	font-size: 24px;
	margin-bottom: 10px;
}

#info p{
	margin-bottom: 10px;
}

#copyright{
	position: fixed;
	right: 7px;
	bottom: 7px;
}