/*Shanice Talan*/
/*Travel Agency Style Sheet*/

/*applied to all pages*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  }

/*fix the issue of the scrollbar preventing images to be displayed inline
and hide horizontal overflow*/
body {
  width: 100vw;
  overflow-x: hidden;
  background: url('images/beach.jpg');
  background-attachment: fixed;
  background-position: top right;
  background-size: cover;
}

.contain {
  text-align: center;
  min-height: 100vh;
  margin-top: 85px;
  padding-top: 1px;
  margin-bottom:0;
  }
  
/*general Links*/
a, a:visited {
 cursor:pointer;
 text-decoration: none;
 color: #FE9251;}

a:hover{
 cursor:pointer;
 text-decoration: underline;
 color: #FE9251;}

 /*header for logo, title and navigation bar*/
 header {
   height: 100px;
   width: 100%;
   position: fixed;
   top: 0;
   background: white;}

/*decrease header for bigger screen sizes*/
@media (min-width: 1081px) {
  header {
    height: 85px;
  }
 }

/*website logo*/
 header img {
   float: left;
   margin: 5px;
   height: 75px;
   width: auto}

/*page background*/
 .contain {
   text-align: center;
   min-height: 100vh;
   margin-top: 85px;
   padding-top: 1px;
   margin-bottom:0;
   }

 /*navigation*/
 #loginbar a{
   float: right;
   display: inline;
   padding: 5px;
   margin: 5px;
   margin-right: 15px;
 }

 .nav {
   position: absolute;
   top: 0;
   right: -5px;
   margin-top: 40px;
   text-decoration-color: #FE9251;}

/*navigation links*/
.nav li {
   display: inline;
   list-style: none;
   font-size: 24px;
   margin: 10px;
   padding: 10px;}

/*hide navigation bar for smaller screens*/
@media (max-width: 1080px) {
  .nav {
    display: none;}
}

/*show navigation menu button for smaller screens*/
#navbtn {
  position: absolute;
  top: -50px;
  right: 25px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px;
  background-color: white;
  color: #FE9251;
  border: solid 2px white;}

/*change color of button on hover*/
#navbtn:hover {
  padding: 10px;
  background-color: #FE9251;
  color: white;
  border-style: none;}

/*change text color of menu on hover*/
#navbtn a:hover {
  color: #FE9251;
  text-decoration: none;}

/*container for navigation menu*/
#navdrop {
  position: absolute;
  top: 90px;
  right: 0;}

/*hide navigation menu list by default*/
.nav2 {
  display: none;}

/*styling for each menu selection*/
.nav2 li {
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  width: auto;
  color: #FE9251;
  background-color: white;
  text-decoration: none;
  text-align: center;}

.nav2 a{
  color: #FE9251;
}

/*change color of menu background on hover*/
.nav2 li:hover {
  background: #FE9251;
  color: white;}

/*change color of menu link on hover*/
.nav2 li a:hover {
  color: white;}

/*show menu list when hovering menu button*/
#navdrop:hover .nav2 {
  display: block;
  position: relative;
  margin-top: -5px;
  margin-right: 5px;
  color: #FE9251;}

/*hide button for bigger screens*/
@media (min-width: 1081px) {
  #navbtn {
    display: none;
  }
}

/*All Buttons*/
button {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: #d17238;
  border: solid 2px #FE9251;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  color: white;
  background-color: #FE9251;
  border-style: 3px none;
  border-radius: 5px;
}

/*Homepage*/
#home {
  height: 50vh;
  text-align: center;
  margin: 25vh;
  padding: 5vw;
  background: rgba(250, 250, 250, 0.8)}

/*bigger font size for bigger screens*/
@media (min-width: 681px) {
  #home{
    font-size: 35px; }
}

/*Packages page*/
#packages {
  margin: 25px;
  font-size: 20px;
  color: #398579;}

#packages h3 {
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
}

.eachpackage {
  list-style: none;
  text-align: left;
  width: 40vw;
  margin: 25px;
  padding: 25px;
  background: rgba(250, 250, 250, 0.8);
  display: inline-block;
}

.eachpackage h3 {
  margin: 10px 0;
}

.eachpackage td {
  padding: 10px;
}

/*Login*/
#login {
  background: rgba(250, 250, 250, 0.8);
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 400px;
  padding: 30px;
  font-size: 20px;
  color: #398579;
}

#login p {
  margin-bottom: 10px;
}

#login td, #agentlogin input {
padding: 5px;
font-size: 14px;
}

#entry {
  background: rgba(250, 250, 250, 0.8);
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 500px;
  padding: 30px;
  font-size: 20px;
  color: #398579;
}

#error{
  color: red;
  font-size: 16px;
}

/*All Forms*/
#formbg { /*form inside translucent box*/
  background: rgba(250, 250, 250, 0.9);
  height: auto;
  max-width: 320px;
  text-align: left;
  padding: 5vh 5vw;
  margin: 50px 100px 100px 100px;
  font-size: 18px;
  color: #398579;
  display: inline-block;
  }

/*bigger width, padding and font size for bigger screens*/
@media (min-width: 641px){
    #formbg {
      min-width: 400px;
      height: auto;
      padding: 20px;
      font-size: 24px;}
}

/*actual form below title*/
form {
  margin-top: 0px;
  text-align: left;
  font-size: 18px;
  color: #398579;}

form td {
  padding: 10px;
}


/*smaller padding and font size for smaller screen size*/
@media (max-width: 640px) {
    form td {
      padding: 5px;
      font-size: 16px;
    }
}

/*Agent Tables*/
#agttables {
	background: rgba(250, 250, 250, 0.9);
	padding: 25px;
	margin: 25px;
	font-size: 18px;
	color: #398579;
}

#agttables table {
    border-collapse: collapse;
    width: 100%;
}

#agttables tr {
    border-bottom: 1px solid #398579;
}

#agttables td {
	padding: 5px;
}